In [1]:
import pandas as pd
import json

In [63]:

# Create a sample DataFrame
data = {'metadata': [
    '{"domain_id":4,"fieldName":"territoryID","businessName":"territoryID","businessDescription":"territoryID","dataType":"integer","schema":"northwind","table":"employee_territories","id":1,"recommendedSensitivity":"public","dataDomain":"Address","recomendedSensitivity":"public"}',
    '{"domain_id":5,"fieldName":"region","businessName":"region","businessDescription":"region","dataType":"string","schema":"northwind","table":"employees","id":2,"recommendedSensitivity":"public","dataDomain":"Coordinates","recomendedSensitivity":"public"}',
    '{"domain_id":5,"fieldName":"country","businessName":"country","businessDescription":"country","dataType":"string","schema":"northwind","table":"employees","id":3,"recommendedSensitivity":"public","dataDomain":"Coordinates","recomendedSensitivity":"public"}'
]}
df = pd.DataFrame(data)

In [64]:
df.head()

                                            metadata
0  {"domain_id":4,"fieldName":"territoryID","busi...
1  {"domain_id":5,"fieldName":"region","businessN...
2  {"domain_id":5,"fieldName":"country","business...

In [99]:
def getRows(df):
    rows = [json.loads(row) for row in df['metadata']]
    return rows

In [117]:
def extract_metadata(df):
    rows = getRows(df)
    fieldNames, businessNames, businessDescriptions = [], [], []
    for row in rows:
        fieldNames.append(row['fieldName'])
        businessNames.append(row['businessName'])
        businessDescriptions.append(row['businessDescription'])
    return fieldNames, businessNames, businessDescriptions

In [118]:
fieldNames, businessNames, businessDescriptions = extract_metadata(df)

In [120]:
fieldNames, businessNames, businessDescriptions

(['territoryID', 'region', 'country'],
 ['territoryID', 'region', 'country'],
 ['territoryID', 'region', 'country'])

In [121]:
def addCols(df):
    fieldNames, businessNames, businessDescriptions = extract_metadata(df)
    df = df.assign(fieldNames=fieldNames, businessNames=businessNames, businessDescriptions=businessDescriptions)
    return df

In [122]:
df = addCols(df)

In [123]:
df.head()

,metadata,fieldNames,businessNames,businessDescriptions
0,"{""domain_id"":4,""fieldName"":""territoryID"",""busi...",territoryID,territoryID,territoryID
1,"{""domain_id"":5,""fieldName"":""region"",""businessN...",region,region,region
2,"{""domain_id"":5,""fieldName"":""country"",""business...",country,country,country